body{
  background-color: navy;
}

#canvas{
  display: block;
  margin: 50px auto;
  background-color: maroon;
  border: 2px black solid;
}

table{
  width: 50%;
  height: 20%;
  margin-left: 50px;
}

button{
  height: 50px;
  width: 75px;
}

p{
  color: red;
}
