#container{
  background-color: red;
  width: 860px;
  margin: auto;
}
body{
  background-color: green;
}
#imageholder{
  height: 50em;
  width: 50em;
}
#thumbnails img{
  height: 10em;
  width: 10em;
}
